.idea/
__pycache__/

div2k/
logs/
pdfs/

tone_mapping/sihdr/reference
tone_mapping/sihdr/resized

rendering/dataset*
rendering/ckpts
rendering/neural/wandb

animation/checkpoints
animation/frames_merged
animation/wandb
